# Ignore node_modules inside those subfolders
/part2_practice/Forms/node_modules/
/part3_practice/NodeJsAndExpress/node_modules/

/part0_practice
/part1_practice
/part2_practice/Rendering a collection, modules
/.vscode