# Ignore node_modules inside those subfolders
/part2 practice/Forms/node_modules/
/part3 practice/NodeJsAndExpress/node_modules/

/part0 practice
/part1 practice
/part2 practice/Rendering a collection, modules
/.vscode